/* Base Styles */

body {
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
	font-weight: 100;
}

h4 {
	font-weight: 600;
	font-size: 15px;
}

/* cont */

#cont {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

/* top */

#top {
	position: fixed;
	width: 100%;
	height: 70px;
	background: rgba(120,201,112,0.9);
	color: white;
	z-index: 10000;
}

#logo {
	margin: 25px 40px;
}

#about, #filters {
	position: absolute;
	top: 15px;
	padding: 5px 10px;
	border: 2px solid white;
	color: white;
	cursor: pointer;
	z-index: 1000;
}

#about {
	right: 100px;
}

#about:hover {
	border: 2px solid rgb(57,57,57);
	color: rgb(57,57,57);
}

#filters {
	right: 30px;
	z-index: 100000;
}

#filters:hover {
	border: 2px solid rgb(57,57,57);
	color: rgb(57,57,57);
}

#filters.on {
	border: 2px solid rgb(57,57,57);
	color: rgb(57,57,57);
}

#filterclose {
	position: absolute;
	top: 15px;
	padding: 5px 10px;
	border: 2px solid rgba(255,255,255,0);
	cursor: pointer;
	z-index: 100000;
	display: none;
	opacity: 0;
	right: 95px;
	color: rgb(57,57,57);
}

/* filter and overlay */ 

#sidebar {
	position: fixed;
	top: 60px;
	width: 185px;
	color: rgba(57,57,57,0.7);
	right: -220px;
	z-index: 10000;
	padding: 0px;
}

#white-overlay {
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.9);
	position: fixed;
	display: none;
	z-index: 100000;
}

#filter-list {
	list-style-type: none;
	margin: 0;
}

#filter-list li {
	margin: 10px 0;
	cursor: pointer;
}

#filter-list li a {
	cursor: pointer;	
	padding: 5px 10px;
	color: rgba(57,57,57,0.4);
	text-decoration: none;
}

#filter-list li a.hover {
	color: rgba(57,57,57,0.7);
}

#filter-list li a.current {
	color: rgba(57,57,57,1);
}

#filter-list hr {
	margin: 0;
}

/* main */

#main {
	position: relative;
	float: left;
	z-index: 1;
	margin: 0;
	padding: 0 0 20px 0;
	height: 100%;
	width: 100%;
	left:0;
}

/* Overview */

#overview {
	float: left;
	width: 100%;
	height: 500px;
	color: #fff;
	background: url('http://mark-b.com/avg/rewardsProductionJournal/img/topbg.jpg') no-repeat fixed center;
	background-size: cover;
	z-index: 1000;
}

#overview h1 {
	margin: 190px 40px 10px 40px;
	width: 300px;
	text-align: left;
	letter-spacing: 1px;
}

#overview p{
	margin: 20px 40px;
	width: 490px;
	background: rgba(0,0,0,0.5);
	padding: 20px;
	font-size: 16px;
	line-height: 1.7em;
	font-weight: 100;
}

/* story item */

ul#storyline {
	padding: 0;
	margin: 0;
	z-index: 100;
}

ul#storyline li{
	float: left;
	position: relative;
	width: 100%;
	padding: 50px 0;
}

ul#storyline li.time{
	/* background: rgb(208,130,52); */ 
	background: #E57C36;
	padding: 10px 0;
}

.time h4{
	font-weight: 100;
	font-size: 24px;
	letter-spacing: 1px;
	margin: 10px auto;
	text-align: center;
	width: 300px;
	color: white;
}

.story-item {
	min-height: 200px;
	border-bottom: 1px solid rgb(229,229,229); 
}

.story-item h1, .story-item h2, .story-item h3 {
	margin:0;
	padding: 0;
}

/*  */

.story-item .left-story {
	width: 52%;
	float: left;
	text-align: right;
}

.left-story .left-wrap {
	float: right;
	margin-left: 6%;
	max-width: 920px;
}

.story-item .left-story img {
	
}

.story-item .right-story {
	width: 44%;	
	float: right;
	position: relative;
}

.story-item h2 {
}

.story-item h3 {
	font-size: 16px;
	font-weight: 400;
	opacity: 0.8;
	line-height: 24px;
}

.story-item h3 b{
	text-transform: uppercase;
}

.story-item p {
	margin-right: 6%;
	max-width: 670px;
}

/* slider */

.slider {
	text-align: left;
}
