/* Base Styles */

body {
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
	font-weight: 100;
}

h4 {
	font-weight: 600;
	font-size: 15px;
}

/* cont */

#cont {
	position: fixed;
	width: 100%;
	min-width: 800px;
	height: 100%;
	overflow-y: scroll;
}

/* top */

#top {
	position: fixed;
	width: 100%;
	height: 70px;
	background: rgba(120,201,112,0.9);
	color: white;
	z-index: 99999;
}

#top.white {
	background: rgba(255,255,255,0.90);
}

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-20px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInDown {
	0% {
		opacity: 0;
		-o-transform: translateY(-20px);
	}
	
	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}
	
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeInDown {
	-webkit-animation-duration: 0.5s;
	-moz-animation-duration: 0.5s;
	-o-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-o-animation-name: fadeInDown;
	animation-name: fadeInDown;
}


#logo {
	margin: 25px 40px;
}

#about, #filters {
	position: absolute;
	top: 15px;
	padding: 5px 10px;
	border: 2px solid white;
	color: white;
	cursor: pointer;
	z-index: 1000;
	-webkit-transition: color, background 0.1s ease-in-out;
	-moz-transition: color, background 0.1s ease-in-out;
	-o-transition: color, background 0.1s ease-in-out;
	transition: color, background 0.1s ease-in-out;
}

#about {
	right: 100px;
	z-index: 100000;
}

#about:hover, #filters:hover{
	background: rgb(255,255,255);
	color: rgba(120,201,112,0.9);
}

#filters {
	right: 30px;
	z-index: 100000;
}

#filters.on {
	border: 2px solid rgb(57,57,57);
	color: rgb(57,57,57);
}

#about.on {
	border: 2px solid rgb(57,57,57);
	color: rgb(57,57,57);
}

#overlayclose {
	position: absolute;
	top: 15px;
	padding: 5px 10px;
	border: 2px solid rgba(255,255,255,0);
	cursor: pointer;
	z-index: 100000;
	display: none;
	opacity: 0;
	right: 195px;
	color: rgb(57,57,57);
	font-weight: 100;
}

#aboutclose {
	position: absolute;
	top: 15px;
	padding: 5px 10px;
	border: 2px solid rgba(255,255,255,0);
	cursor: pointer;
	z-index: 100000;
	display: none;
	opacity: 0;
	right: 95px;
	color: rgb(57,57,57);
}

/* filter and overlay */ 

#filterCont {
	position: fixed;
	top: 60px;
	width: 185px;
	color: rgba(57,57,57,0.8);
	right: -220px;
	z-index: 10000;
	padding: 0px;
}

#white-overlay {
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.90);
	position: fixed;
	display: none;
	z-index: 10000;
}

#filter-list {
	list-style-type: none;
	margin: 0;
}

#filter-list li {
	margin: 15px 0;
	cursor: pointer;
}

#filter-list li a {
	cursor: pointer;	
	padding: 5px 10px;
	color: rgba(57,57,57,0.4);
	text-decoration: none;
	-webkit-transition: color, background 0.1s ease-in-out;
	-moz-transition: color, background 0.1s ease-in-out;
	-o-transition: color, background 0.1s ease-in-out;
	transition: color, background 0.1s ease-in-out;
}

#filter-list li a.hover {
	color: #fff;
	background: rgba(57,57,57,1);
}

#filter-list li a.current {
	color: #fff;
	background: rgba(57,57,57,1);
}

#filter-list hr {
	margin: 0;
}

/* team */ 

#team-wrap {
	position: absolute;
	top: 70px;
	width: 85%;
	margin: 0;
	max-width: 1300px;
	padding: 5% 1% 0% 1%;
	color: rgba(57,57,57,0.7);
	background: #f5f5f5;
	border-left: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	opacity: 0;
	z-index: 908709869876589999;
	box-shadow:   3px 3px 2px 1px rgba(209,209,209,0.20);
}

.team-title {
	margin-bottom: 3%;
	font-size: 2.8em;
	text-align: center;
	color: #707070;
}

#team-thumbnails {
	margin-bottom: 5%;
}

#team-thumbnails li {
	display: block;
	float: left;
	width: 15%;
	max-width: 180px;
	margin-right: 1.5%;
	list-style-type: none;
}

#team-thumbnails li:last-child {
	margin-right: 0;
}

#team-thumbnails li img {
	width: 100%
}

#team-thumbnails li img {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
}

.team-item {
	width: 100%;
	min-height: 300px;
	padding: 50px 0;
	border-bottom: 1px solid #fff;
}

.team-left-wrap, .team-right-wrap {
	min-height: 200px;
}

.team-left-wrap {
	float: left;
	width: 55%;
	margin-right: 3%;
}

.team-left-wrap .left {
	width: 45%;
}

.team-left-wrap .left img {
	width: 100%;
	max-width: 220px;
}

.team-left-wrap .left {
	min-width: 50%;
	text-align: left;
}

.team-left-wrap .left h1 {
	font-size: 2.5em;
	line-height: 1em;
}

.team-left-wrap .left h2 {
	font-size: 1em;
}

.team-left h1 {
	font-size: 1em;
	clear: both;
}

.team-right-wrap {
	float: right;
	width: 40%;
	padding-top: 5%;
}

.team-right-wrap a:first-child {
	margin-left: 30%;
}

.right {
	float: right;
}

.left {
	float: left;
}

.team-btn {
	padding: 1% 1% 1% 1%;
	border: 2px solid #71B968;
	font-size: 1em;
	color: #71B968;
	text-decoration: none;
	cursor: pointer;
	-webkit-transition: color, background 0.1s ease-in-out;
	-moz-transition: color, background 0.1s ease-in-out;
	-o-transition: color, background 0.1s ease-in-out;
	transition: color, background 0.1s ease-in-out;
}

.team-btn:hover {
	text-decoration: none;
	color: #F4F4F4;
	background: #71B968
}

/* main */

#main {
	position: relative;
	float: left;
	z-index: 1;
	margin: 0;
	padding: 0 0 20px 0;
	height: 100%;
	width: 100%;
	left:0;
}

/* Overview */

#overview {
	float: left;
	width: 100%;
	height: 500px;
	color: #f7f7f7;
	background: url('http://mark-b.com/avg/rewardsProductionJournal/img/topbg.jpg') no-repeat fixed center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index: 1000;
}

#overview h1 {
	margin: 190px 40px 10px 40px;
	width: 300px;
	text-align: left;
	letter-spacing: 1px;
}

#overview p { 
	margin: 20px 40px;
	width: 490px;
	background: rgba(0,0,0,0.5);
	padding: 20px;
	font-size: 16px;
	line-height: 1.7em;
	font-weight: 100;
}

/* story item */

ul#storyline {
	padding: 0;
	margin: 0;
	z-index: 100;
}

ul#storyline li { 
	float: left;
	position: relative;
	width: 100%;
	padding: 50px 0;
}

ul#storyline li.time {
	/* background: rgb(208,130,52); */ 
	background: #E57C36;
	padding: 10px 0;
}

.time h4 {
	font-weight: 100;
	font-size: 24px;
	letter-spacing: 1px;
	margin: 10px auto;
	text-align: center;
	width: 300px;
	color: white;
}

ul#storyline li.productSeperator {
	background: rgb(237,237,237);
	padding: 0;	
}

.productSeperator h4 {
	font-weight: 100;
	font-size: 14px;
	letter-spacing: 1px;
	margin-left: 3%;
	text-align: left;
	color: rgb(156,165,178);
}

.story-item {
	min-height: 200px;
	border-bottom: 1px solid rgb(229,229,229); 
	list-style-type: none;
}

.story-item h1, .story-item h2, .story-item h3 {
	margin:0;
	padding: 0;
}

/*  */

.story-item .left-story {
	width: 53%;
	float: left;
	text-align: right;
}

.left-story .left-wrap {
	float: left;
	margin-left: 6%;
	max-width: 920px;
}

.story-item .left-story img {}

.story-item .right-story {
	width: 43%;	
	float: right;
	position: relative;
	line-height: 1.8em;
}

.story-item h2 i {
	background: green;
	padding: 1%;
	font-size: 0.8em;
	color: #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

.story-item h3 {
	font-size: 1.1em;
	font-weight: 400;
	letter-spacing: 1px;
	opacity: 0.7;
	margin-bottom: 10px;
	line-height: 2.1em;
}

.story-item h3 b{
	text-transform: uppercase;
}

.story-item p {
	margin-right: 6%;
	max-width: 670px;
	color: #6b6b6b;
	line-height: 2em;
}

.story-item p.icon {
	width: 40px;
	height: 40px;
	margin-top: 10px;
	margin-right: 8px;
	display: block;
	float: left;
}

.story-item p a{
	padding: 5px 10px;
	border:  1px solid rgb(57,57,57);
	color: rgb(57,57,57);
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
}

.story-item p a:hover{
	background: rgb(57,57,57);
	border:  1px solid rgba(56,56,56,1);
	color: #FFF;
	text-decoration: none;
}

.mock h2 {
	color: #45A7EF; /* blue */ 
	/* color: #8D48AB; /* purple */
}

.mock h2 i {
	background: #45A7EF;
}

/* story-item styles- PROTOTYPE */

div.protoImg {
	max-height: 350px;
	overflow: hidden;
	
}

/* slider */

ul#storyline .slider { 
	position: relative; 
	overflow: auto; 
	list-style-type: none; 
	width: 100%;
	text-align: left;
	padding: 0;
}
ul#storyline .slider ul, ul#storyline .slider ol{ 
	margin: 0 !important; 
}
ul#storyline .slider li { list-style: none; }
ul#storyline .slider ul li { float: left; max-width: 920px; padding: 0; margin: 0; overflow: hidden; text-align: right; background: url(../img/escheresque.png) repeat;}

ul#storyline .slider ul li .heightMax{ max-height: 330px;}

ul#storyline .slider .btn, .slider .dot {
	-webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.7));
	-moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.7));
	-ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.7));
	-o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.7));
	filter: drop-shadow(0 1px 2px rgba(0,0,0,.7));
}

ul#storyline .slider .dots {
	position: absolute;
	left: 20px;
	bottom: 20px;
}
ul#storyline .slider .dots li {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 4px;
	padding: 0;
	color: rgba(0,0,0,0);
	border: 2px solid #fff;
	border-radius: 6px;

	cursor: pointer;
	opacity: .6;

	-webkit-transition: background .5s, opacity .5s;
	-moz-transition: background .5s, opacity .5s;
	transition: background .5s, opacity .5s;
}
ul#storyline .slider .dots li.active {
	background: #fff;
	opacity: 1;
}
